{% extends 'temp/admin.html' %}
{% block base %}

	<form method="post" >
     {% csrf_token %}
		<h1 align="center" style="color: white ">EMPLOYEE REGISTRTION</h1>
    <br>
		<table align="center" style="color: white">
			

			<tr>
				<td> Username</td>
				<td>
					<input type="text" name="uname" placeholder="Enter your name" required="" class="form-control"><br>
				</td>

				<td>

				</td>
				<td>
					<input type="file" name="filename" >
					<img src="#">
				</td>


			</tr>
			<tr>
				<td> Email</td>
				<td>
					<input type="text" name="email" placeholder="Enter your email" class="form-control"><br>
				</td>

			</tr>
			<tr>
				<td> Phone</td>
				<td>
					<input type="text" name="Phone" placeholder="Enter your phone number" class="form-control"><br>
				</td>
				</tr>
				<tr>
					<tr>
					<td> Address</td>
					<td>
						<textarea rows="4" cols="26" input type="text" name="address" placeholder="Enter your address here" class="form-control">
					</textarea>
				</td>
			</tr>

			<tr>
					<td>  Date Of Birth</td>
					<td>
					<input type="date" name="dob" placeholder="Enter your DOB here" class="form-control"><br>
				</td>
			</tr>

			<tr>
					<td>  Experience </td>
					<td>
						<select name="experience" class="form-control"><br>
							<option value="Fresher"> Fresher</option>
							<option value="1 year"> 1 year</option>
							<option value="2 year"> 2 year</option>
							<option value="3 year"> 3 year</option>
							<option value="4 year"> 4 year</option>
							<option value="5 year"> 5 year</option>
							<option value="Above 5 years"> above 5 years</option>
							</select>
						</td>
					</tr>

					<tr>
				<td> Gender </td>
				<td>
					<input type="radio" name="Gender" value="Male">Male
				</td>
				<td>
					<input type="radio" name="Gender" value="Female">Female
				</td>

			</tr>

			<tr>
				<td>  password</td>
				<td>
					<input type="password" name="pass" placeholder="Enter your password" class="form-control"><br>
				</td>

			</tr>

			<tr>
				<td> Confirm Password</td>
				<td>
					<input type="password" name="pass" placeholder="Confirm your password" class="form-control"><br>
				</td>

			</tr>

			<tr>
				<td></td>
				<td> <input type="submit" name="log" value="REGISTER"></td>
				<td> <input type="button" name="log" value="CANCEL"></td>

			</tr>
		</table>

{% endblock %}




