{% extends 'temp/user.html' %}
{% block base %}

	<form method="post" >
    {% csrf_token %}
        <h1 align="center" style="color: white"><b>Add Feedback</b></h1><br>
		<table align="center" style="color: red">
			<tr>
                <td>  <b>Enter your feedback</b></td>
					<td>
						<textarea rows="4" cols="26" input type="text" name="fb" placeholder="Enter your address here" required="">
					</textarea>
				</td>
			</tr>
                        
                         <tr>
				<td></td>
				<td> <input type="submit" name="log" value="SUBMIT"></td>

			</tr>
        </table></form>

{% endblock %}